<div id="homepage" :class="[heroHeightSet ? '' : 'uninitialized']" v-cloak>
  <div class="hero d-flex flex-column justify-content-center" full-page-hero>
    <div class="container text-center">

      <video width="100%" height="100%" autoplay class="video">
      <source src="/videos/sample.mp4" type="video/mp4">
          Your browser does not support the video tag.
          </video>
      <div>

      </div>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
